1)In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

Expressions: *, -, /, +

Values: -87.8, 6

String: 'hello'

2)What is the difference between string and variable?
  
  strings
  it is the data type for sequence of charcater eg ("owjdn") in addtion to letter they also include number,space,strings cannot be used for calculation you will have to convert to number data type for mathematical operation.strings are defined in single quotes('hdbsd'),or in double quote("kjwdf")
  
  variable
  this are the references that you create to define the other variable also it stores data.variable can hold a string but string cant hold variable.

3)Describe three different data types.

-list
-tuple
-set

list
  an ordered sequence of item is called list. it is very flexible data type in python it is efforless to declare the list it is 
  enclosed in [] bracket and seperated by comas eg [5,7,8,'jwnd'] 
  
tuple
A Tuple is a sequence of items that are in order, and it is not possible to modify the Tuples. The main difference between list and tuples are that tuple is immutable, which means it cannot be altered. Tuples are generally faster than the list data type in Python because it cannot be changed or modified like list datatype. The primary use of Tuples is to write-protect data. Tuples can be represented by using parentheses (), and commas are used to separate the items.eg (4,6,"erkhbg")

set
The Collection of Unique items that are not in order is called Set. Braces {} are used to defined set and a comma is used to separate values. One will find that the items are unordered in a set data type.
Duplicates are eliminated in a set and set only keeps unique values. Operations like intersection and union can be performed on two sets. a={4,5,6,78}

4)What is an expression made up of? What do all expressions do?

An expression is combination of variable,function,values operators and it is evaluated down to single value

5)This assignment statements, like spam = 10. What is the difference between an expression and a statement?

expression is the combination of values and function eg x=5,z=9


statement
an instruction that python interpreter can carry out .example is given below

In [1]:
x=3
print(x)

3

6. After running the following code, what does the variable bacon contain?

In [2]:
bacon = 22

In [3]:
bacon+1

23

7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

In [4]:
'spam' + 'spamspam'

'spamspamspam'

In [5]:
'spam' * 3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

beacuse variable name cannot begin with number

9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [8]:
int()
float()
str()

''

Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

this expression cause an error because 'I have eaten '' burritos.' are strings but 99 is integer ,we can fix it by by taking 99 as string as shown below

In [16]:
'I have eaten ' + '99'+ ' burritos.'

'I have eaten 99 burritos.'